@font-face {
  font-family: 'Golden Signature';
  src: url('../../goldensignature/GoldenSignature.otf') format('opentype'),
       url('../../goldensignature/GoldenSignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother Signature';
  src: url('../../brother-signature-font/BrotherSignature-7BWnK.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
