@font-face {
  font-family: 'Golden Signature';
  src: url('../../goldensignature/GoldenSignature.otf') format('opentype'),
       url('../../goldensignature/GoldenSignature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
